*
{
	box-sizing: border-box;
}

h1
{
	text-align: center;
}

/** MEDIA **/

@media (min-width: 992px)
{
	.desktop
	{
		color: red;
	}
}

@media (min-width: 768px) and (max-width: 991px)
{
	.tablet
	{
		color: yellow;
	}
}

@media (max-width: 767px)
{
	.mobile
	{
		color: green;
	}
}