*
{
	box-sizing: border-box;
}


h1
{
	text-align: center;
	margin-bottom: 90px;
}

p
{
	width: 93%;
	height: 120px;
	font-family: Century Gothic;
	font-size: 12.8px;
	padding: 0px;
	margin: auto;
	font-weight: 600;
	color: #180911;
}

.row
{
	width: 100%;
}

/* MEDIA */

@media (min-width: 992px)
{
	.Genesis
	{
		color: red;
	}

	/*.desktop
	{
		color: red;
	}*/
}

@media (min-width: 768px) and (max-width: 991px)
{
	.Genesis
	{
		color: blue;
	}

	/*.tablet
	{
		color: yellow;
	}*/
}

@media (max-width: 767px)
{
	.Genesis
	{
		color: orange;
	}

	/*.mobile
	{
		color: green;
	}*/
}

@media (min-width: 992px)
{
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, 
	.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
	{
		float: left;
	}

	.col-lg-1
	{
		width: 8.33%;
	}

	.col-lg-2
	{
		width: 16.66%;
	}

	.col-lg-3
	{
		width: 25%;
	}

	.col-lg-4
	{
		width: 33%;
	}

	.col-lg-5
	{
		width: 41.66%;
	}

	.col-lg-6
	{
		width: 50%;
	}

	.col-lg-7
	{
		width: 58.33%;
	}

	.col-lg-8
	{
		width: 66.66%;
	}

	.col-lg-9
	{
		width: 74.99%;
	}

	.col-lg-10
	{
		width: 83.33%;
	}

	.col-lg-11
	{
		width: 91.66%;
	}

	.col-lg-12
	{
		width: 100%;
	}
}

#chicken
{
	position: relative;
	border: 1px solid red;
	width: 130px;
	height: 25px;
	text-align: center;
}

.container
{
	border: 2px solid black; 
	background-color: #999; 
	width: 400px; 
	height: 140px;
	margin-left: 30px;
}

.food-type
{
	position: relative; 
	border: 2px solid black; 
	width: 140px; 
	height: 28px; 
	float: right; 
	text-align: center; 
	/*background-color: #d59898; */
	font-weight: bold;
}

.food-type.chicken
{
	background-color: #d59898; 
}

.food-type.beef
{
	background-color: #c14543; 
}

.food-type.sushi
{
	background-color: #e5d198; 
}
